.day-card {
    /* height: 100%; */
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    display: "flex";
    flex-direction: "column";
}